<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center" style="color: #fff;">
    Last Updated
    <span class="text" id="lastUpdateIndicator">{{#if mostRecent}}{{mostRecent.updateTime}}{{else}}&mdash;{{/if}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center" style="color: #fff;">
    Altitude
    <span class="text" id="altitudeIndicator">{{#if mostRecent}}{{mostRecent.alt}}{{else}}&mdash;{{/if}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center" style="color: #fff;">
    Vertical Velocity
    <span class="text" id="verticalVelocityIndicator">{{#if mostRecent}}{{mostRecent.vertVel}}{{else}}&mdash;{{/if}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center" style="color: #fff;">
    Latitude
    <span class="text" id="latIndicator">{{#if mostRecent}}{{mostRecent.lat}}{{else}}&mdash;{{/if}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center" style="color: #fff;">
    Longitude
    <span class="text" id="lngIndicator">{{#if mostRecent}}{{mostRecent.lng}}{{else}}&mdash;{{/if}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center" style="color: #fff;">
    Ground Speed
    <span class="text" id="groundSpeedIndicator">{{#if mostRecent}}{{mostRecent.gndSpeed}}{{else}}&mdash;{{/if}}</span>
  </li>
</ul>
<br>
<div class="headingGauge-container">
  <canvas id="headingGauge"></canvas>
</div>
<div class="altChart-container">
  <canvas id="altChart"></canvas>
</div>
<hr>
<div class="card text-white bg-secondary mb-3">
  <div class="card-body form-horizontal">
    <div class="row">
      <div class="card-text">Pan to: &nbsp;
        <button class="btn btn-primary btn-sm" onclick="panToBalloon()">balloon</button>
        &nbsp;
        <button class="btn btn-primary btn-sm" onclick="panToMe()">me</button>
      </div>
    </div>
  </div>
</div>
