<div class="row">
  <div class="col-md-6">
    <div class="card text-white bg-primary mb-3">
      <div class="card-header">
        <h5 class="card-title">
          Active Missions
        </h5>
      </div>
      <div class="card-body form-horizontal">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Organization</th>
              <th scope="col">Date</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            {{#each activeMissions}}
            <tr onclick="window.location='track/{{missionID}}';" style="cursor: pointer;">
              <td>{{missionID}}</td>
              <td>{{orgName}}</td>
              <td>{{formattedLaunchDate}}</td>
              <td>{{description}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card text-white bg-primary mb-3">
      <div class="card-header">
        <h5 class="card-title">
          Planned Missions
        </h5>
      </div>
      <div class="card-body form-horizontal">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Organization</th>
              <th scope="col">Date</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            {{#each plannedMissions}}
            <tr onclick="window.location='plannedOverview/{{missionID}}';" style="cursor: pointer;">
              <td>{{missionID}}</td>
              <td>{{orgName}}</td>
              <td>{{formattedLaunchDate}}</td>
              <td>{{description}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
